#content #col2 {
	width:836px;
	min-height:1000px;
	float:left;
}

#content #col2 #join{
  float:center;
  margin-top:200px;
	width:96%;
	height:700px;
}

#content #col2 #join ul {
  margin-top:50px;
}

#content #col2 #join li {
  padding:12.2px;
}


/* login */

#login_form {
	margin-left:15px;
	width:96%;
	height:300px;
	border-bottom:solid 1px #cccccc;
}

#login_form #login_msg {
	margin-top:30px;
	margin-bottom:20px;
}

#login_form #login1 {
	float:left;
    margin-left:80px;
	margin-top:20px;
}

#login_form #login2 {
	float:left;
	width:500px;
	height:150px;
    margin-left:60px;
	margin-top:40px;
}

#login2 #id_pw_title {
	float:left;
	width:80px;
	height:50px;
	text-align:right;
}

#login2 #id_pw_title ul{
	margin-top:7px;
}

#login2 #id_pw_title li{
	padding-bottom:11px;
}

#login2 #id_pw_input {
	float:left;
	height:50px;
	margin-left:10px;
}

#login2 #id_pw_input li{
	padding-bottom:7px;
}

#login2 #id_pw_input input.login_input {
	width:150px;
	height:18px;
	border:solid 1px #cccccc;
}

#login2 #login_button {
	float:left;
	margin-left:10px;
}

#login2 #login_line {
	width:382px;
	height:1px;
	margin-top:20px;
	border-bottom:solid 2px #cccccc;
}

#login2 #join_button {
	margin-top:20px;
	margin-left:30px;
}
