#content #col2 {
	width:836px;
	min-height:1000px;
	float:left;
}

#content #col2 #title{
	margin-left:15px;
	margin-top:30px;
	width:96%;
  height:45px;
	border-bottom:solid 5px #cccccc;
}

#content #col2 #list{
	margin-left:15px;
	width:96%;
	height:700px;
	border-bottom:solid 5px #cccccc;
}

#content #col2 #list #list_title {
	float:left;
	width:110px;
  height:700px;
  background-color:#966cd2;   
	border-bottom:solid 5px #cccccc;
}

#content #col2 #list #list_title ul {
	margin-top:4px; 
}

#content #col2 #list #list_title li {
  padding:12.2px;
}
#content #col2 #list #list_content {
	float:left;
	width:670px;
	height:700px;
  border-bottom:solid 5px #cccccc;
}

#content #col2 #list #list_content li {
  width:92%;
	height:30px; 
	padding-left:8px;
	padding-top:9px;
	border-bottom:solid 2px #cccccc;
}

#content #col2 #list #list_content input.id {
  width:50px;
	height:18px;
	border:solid 1px #777777;
}

#content #col2 #list #list_content input.password {
  width:50px;
	height:18px;
	border:solid 1px #777777;
}

#content #col2 #list #list_content input.name {
  width:50px;
	height:18px;
	border:solid 1px #777777;
}

#content #col2 #list #list_content input.medical_num {
  width:130px;
	height:18px;
	border:solid 1px #777777;
}

#content #col2 #list #list_content input.social_num1 {
  width:50px;
	height:18px;
	border:solid 1px #777777;
}

#content #col2 #list #list_content input.social_num2 {
  width:70px;
	height:18px;
	border:solid 1px #777777;
}
#content #col2 #list #list_content input.product_num {
  width:70px;
  height:18px;
  border:solid 1px #777777;
}

#content #col2 #list #list_content input.emergency_num {
  width:40px;
	height:18px;
	border:solid 1px #777777;
}

#content #col2 #list #list_content input.relative {
  width:100px;
	height:18px;
	border:solid 1px #777777;
}

#content #col2 #list #list_content input.address {
  width:600px;
	height:18px;
	border:solid 1px #777777;
}

#content #col2 #list #list_content input.medicine {
  width:600px;
	height:90px;
	border:solid 1px #777777;
}

#content #col2 #list #list_content input.medical_history {
  width:600px;
	height:100px;
	border:solid 1px #777777;
}
#content #col2 #list #list_content input.special {
  width:600px;
	height:120px;
	border:solid 1px #777777;
}

#content #col2 #list #must {
	padding-top:15px;
}

#content #col2 #button {
	text-align:right;
	margin-top:20px;
	margin-right:20px;
}

/* login */

#login_form {
	margin-left:15px;
	width:96%;
	height:300px;
	border-bottom:solid 1px #cccccc;
}

#login_form #login_msg {
	margin-top:30px;
	margin-bottom:20px;
}

#login_form #login1 {
	float:left;
    margin-left:80px;
	margin-top:20px;
}

#login_form #login2 {
	float:left;
	width:500px;
	height:150px;
    margin-left:60px;
	margin-top:40px;
}

#login2 #id_pw_title {
	float:left;
	width:80px;
	height:50px;
	text-align:right;
}

#login2 #id_pw_title ul{
	margin-top:7px;
}

#login2 #id_pw_title li{
	padding-bottom:11px;
}

#login2 #id_pw_input {
	float:left;
	height:50px;
	margin-left:10px;
}

#login2 #id_pw_input li{
	padding-bottom:7px;
}

#login2 #id_pw_input input.login_input {
	width:150px;
	height:18px;
	border:solid 1px #cccccc;
}

#login2 #login_button {
	float:left;
	margin-left:10px;
}

#login2 #login_line {
	width:382px;
	height:1px;
	margin-top:20px;
	border-bottom:solid 2px #cccccc;
}

#login2 #join_button {
	margin-top:20px;
	margin-left:30px;
}
